<%= simple_form_for(resource, :validate => true, :as => resource_name, :url => session_path(resource_name),:html => { :class => 'form-vertical' }) do |f| %>
 <fieldset>
 	<legend>Connexion</legend>
     <%= f.input :email, hint:"Enter your email address" %>
     <%= f.input :password, hint:"Enter password" %>
     <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, as: :boolean, :boolean_style => :inline, :hint => 'Remember me', label: false %>
     <% end -%>
     <div class="form-actions">
      <%= f.button :submit ,'Connexion', :class => 'btn-primary'%>
    </div>
</fieldset>
<%end%>

<%= render :partial => "devise/shared/links" %>